<template>
  <main>
    <v-container>
      <form-menu @submit="submit" />
    </v-container>
    <v-container class="d-flex justify-center">
      <v-progress-circular
        v-if="loading"
        indeterminate
        color="primary"
      ></v-progress-circular>
      <food-presentation
        v-else
        :foods="this.menuStore.all"
        @remove="removeConfirmation($event)"
        @edit="editModal($event)"
        :s3="this.authStore.isLoggedIn"
      />
    </v-container>
    <modal
      :open="askLoginModal"
      title="Você não está logado, deseja fazer login?"
      content="Todos os dados insiridos aqui eventualmente serão perdidos caso você não esteja logado."
      closeButtonText="Continuar"
      agreeButtonText="Login"
      @close="closeLoginModal()"
      @agree="redirectToLogin()"
    />
    <modal
      :open="promptDelete"
      title="Você realmente deseja remover este item?"
      content="Após um item ser deletado, você vai conseguir acessá-lo novamente."
      closeButtonText="Cancelar"
      agreeButtonText="Excluir"
      @close="promptDelete = false"
      @agree="remove"
    />
    <food-edit
      :open="openEditModal"
      :form="selectedFood"
      @save="edit($event)"
      @close="closeEditModal"
    />
    <snackbar
      :open="snackbar.open"
      :message="snackbar.message"
      @close="openSnackbar(false)"
    />
  </main>
</template>

<script>
import FormMenu from "@/components/FormMenu.vue";
import FoodPresentation from "@/components/FoodPresentation.vue";
import Modal from "@/components/Modal.vue";
import { useMenuStore } from "../stores/menu";
import { useAuthStore } from "../stores/auth";
import * as Product from "../services/product";
import Snackbar from "@/components/Snackbar.vue";
import FoodEdit from "@/components/FoodEdit.vue";

export default {
  setup() {
    const menuStore = useMenuStore();
    const authStore = useAuthStore();

    return {
      menuStore,
      authStore,
    };
  },
  data: () => ({
    openEditModal: false,
    askLoginModal: true,
    promptDelete: false,
    selectedFood: null,
    loading: false,
    snackbar: {
      open: false,
      message: null,
    },
  }),
  mounted() {
    this.askLoginModal = !this.authStore.isLoggedIn;

    this.refreshList();
  },
  components: {
    FormMenu,
    FoodPresentation,
    Snackbar,
    Modal,
    FoodEdit,
  },
  methods: {
    editModal(food) {
      this.selectedFood = food;
      this.openEditModal = true;
    },
    closeEditModal() {
      this.openEditModal = false;
      this.selectedFood = null;
      this.refreshList();
    },
    edit(food) {
      if (this.authStore.isLoggedIn) {
        this.selectedFood = null;
        this.loading = true;

        Product.update(food)
          .then(() => {
            this.openSnackbar(true, "Cardápio atualizado com sucesso!");
            this.refreshList();
          })
          .catch(() => {
            this.openSnackbar(true, "Não foi possível atualizar o cardápio!");
          })
          .finally(() => {
            this.loading = false;
          });
      } else {
        this.menuStore.updateFood(food);
      }

      this.openEditModal = false;
    },
    openSnackbar(open, message) {
      this.snackbar.message = message;
      this.snackbar.open = open;
    },
    refreshList() {
      if (this.authStore.isLoggedIn) {
        this.loading = true;

        Product.list()
          .then(({ data: products }) => {
            const foods = products.map((product) => ({
              id: product.id,
              beverage: false,
              title: product.name,
              flavor: product.flavor,
              description: product.description,
              price: product.price,
              picture: product.picture,
            }));

            this.menuStore.setFoods(foods);
          })
          .finally(() => {
            this.loading = false;
          });
      }
    },
    submit(form) {
      if (this.authStore.isLoggedIn) {
        this.loading = true;
        const formData = new FormData();

        formData.append("name", form.title);
        formData.append("price", form.price);
        formData.append("picture", form.picture);
        formData.append("description", form.description);
        formData.append("flavor", form.flavor);

        Product.store(formData)
          .then(() => {
            this.openSnackbar(true, "O Cadastro foi realizado com sucesso!");
            this.refreshList();
          })
          .catch(() => {
            this.openSnackbar(true, "O Cadastro não pôde ser realizado!");
          })
          .finally(() => {
            this.loading = false;
          });
      } else {
        this.menuStore.addFood(form);
        this.openSnackbar(true, "O Cadastro foi realizado com sucesso!");
      }
    },
    removeConfirmation(food) {
      this.selectedFood = food;
      this.promptDelete = true;
    },
    remove() {
      const food = this.selectedFood;

      if (!food) {
        return;
      }

      if (this.authStore.isLoggedIn) {
        this.loading = true;
        Product.destroy(food)
          .then((res) => {
            this.openSnackbar(true, "O registro foi removido com sucesso!");

            this.refreshList();
          })
          .catch(() => {
            this.openSnackbar(true, "O registro não pôde ser removido!");
          })
          .finally(() => {
            this.loading = false;
          });
      } else {
        this.menuStore.removeFood(food);
        this.openSnackbar(true, "O registro foi removido com sucesso!");
      }

      this.selectedFood = null;
      this.promptDelete = false;
    },
    redirectToLogin() {
      this.$router.push({ name: "login" });
    },
    closeLoginModal() {
      this.askLoginModal = false;
    },
  },
};
</script>
