<template>
  <main>
    <v-form ref="form" @submit="submit($event)">
      <v-card max-width="800" max-height="30%">
        <v-container>
          <v-row>
            <v-col cols="12" md="12">
              <v-text-field
                v-model="form.email"
                :rules="rules.email"
                label="E-mail"
                required
                outlined
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="12">
              <v-text-field
                type="password"
                v-model="form.password"
                :rules="rules.password"
                label="Password"
                required
                outlined
              ></v-text-field>
            </v-col>
          </v-row>
          <p>
            Você ainda não possui um cadastro?
            <router-link to="/register">cadastre-se</router-link>
          </p>
        </v-container>
        <v-card-actions class="d-flex justify-center">
          <v-btn type="submit" color="primary" :loading="loading">Login</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
    <snackbar
      :open="snackbar.open"
      :message="snackbar.message"
      @close="openSnackbar(false)"
    />
  </main>
</template>

<script>
import * as Auth from "../services/auth";
import { useAuthStore } from "../stores/auth";
import Snackbar from "@/components/Snackbar.vue";

export default {
  components: {
    Snackbar,
  },
  setup() {
    const authStore = useAuthStore();

    return {
      authStore,
    };
  },
  data: () => ({
    snackbar: {
      open: false,
      message: null,
    },
    loading: false,
    form: {
      email: "",
      password: "",
    },
    rules: {
      email: [
        (v) => !!v || "E-mail é obrigatório",
        (v) => /.+@.+/.test(v) || "E-mail não é válido",
      ],
      password: [
        (v) => !!v || "Senha é obrigatório",
        (v) => (v && v.length >= 6) || "A senha deve conter ao menos 6 caracteres",
      ],
    },
  }),
  methods: {
    openSnackbar(open, message) {
      this.snackbar.message = message;
      this.snackbar.open = open;
    },
    async submit(event) {
      event.preventDefault();
      this.loading = true;
      try {
        const res = await Auth.login(this.form);
        this.authStore.addUser(res.data);
        localStorage.setItem("auth", res.data);

        this.$router.push("/");
      } catch (err) {
        this.openSnackbar(true, "Por favor, verifique suas credenciais!");
      }

      this.loading = false;
    },
  },
};
</script>

<style scoped>
main {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-content: center;
  align-items: center;
}
</style>
