<template>
  <main>
    <v-form ref="form" @submit="submit($event)">
      <v-card max-width="800" max-height="30%">
        <v-container>
          <v-row>
            <v-col cols="12" md="4">
              <v-text-field
                v-model="form.name"
                :rules="rules.name"
                label="Nome"
                required
                outlined
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="4">
              <v-menu
                ref="menu"
                v-model="menu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                min-width="auto"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="form.birthdate"
                    :rules="rules.birthdate"
                    label="Data de aniversário"
                    outlined
                    readonly
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="form.birthdate"
                  :active-picker.sync="activePicker"
                  :max="
                    new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
                      .toISOString()
                      .substr(0, 10)
                  "
                  min="1950-01-01"
                  @change="save"
                ></v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="12" md="4">
              <v-text-field
                v-model="form.phone"
                :rules="rules.phone"
                v-mask="'(##) #####-####'"
                label="Telefone"
                required
                outlined
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="12">
              <v-text-field
                v-model="form.email"
                :rules="rules.email"
                label="E-mail"
                required
                outlined
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="12">
              <v-text-field
                type="password"
                v-model="form.password"
                :rules="rules.password"
                label="Password"
                required
                outlined
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="3">
              <v-text-field
                v-model="form.address.zipcode"
                :rules="rules.address.zipcode"
                label="CEP"
                v-mask="'#####-###'"
                required
                outlined
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="3">
              <v-text-field
                v-model="form.address.neighborhood"
                :rules="rules.address.neighborhood"
                label="Bairro"
                required
                outlined
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="3">
              <v-text-field
                v-model="form.address.street"
                :rules="rules.address.street"
                label="Rua"
                required
                outlined
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="3">
              <v-text-field
                v-model="form.address.complement"
                :rules="rules.address.complement"
                label="Complemento"
                required
                outlined
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions class="d-flex justify-center">
          <v-btn type="button" color="primary" @click="goBack">Voltar</v-btn>
          <v-btn type="submit" color="primary" :loading="loading">Registrar</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </main>
</template>

<script>
import * as Auth from "../services/auth";
import { useAuthStore } from "../stores/auth";

export default {
  data: () => ({
    activePicker: null,
    menu: false,
    loading: false,
    snackbar: {
      open: false,
      message: null,
    },
    form: {
      email: "",
      password: "",
      phone: "",
      birthdate: null,
      address: {
        street: "",
        complement: "",
        neighborhood: "",
        zipcode: "",
      },
    },
    rules: {
      name: [(v) => !!v || "Nome é obrigatório"],
      email: [
        (v) => !!v || "E-mail é obrigatório",
        (v) => /.+@.+/.test(v) || "E-mail não é válido",
      ],
      password: [
        (v) => !!v || "Senha é obrigatório",
        (v) => (v && v.length >= 6) || "A senha deve conter ao menos 6 caracteres",
      ],
      phone: [
        (v) => !!v || "Telefone é obrigatório",
        (v) =>
          /^\(([0-9]{2})\)\s([0-9]{5})-([0-9]{4})/gm.test(v) ||
          "O telefone deve ser válido",
      ],
      address: {
        zipcode: [
          (v) => !!v || "CEP é obrigatório",
          (v) => /^([0-9]{5}).([0-9]{3})/gm.test(v) || "CEP deve ser válido",
        ],
        complement: [(v) => !!v || "Complemento é obrigatório"],
        neighborhood: [(v) => !!v || "Bairro é obrigatório"],
        street: [(v) => !!v || "Rua é obrigatório"],
      },
    },
  }),
  methods: {
    submit(event) {
      event.preventDefault();
      this.loading = true;

      Auth.signup(this.form)
        .then((res) => {
          console.log(res);
          this.$router.push("/login");
        })
        .catch((err) => {
          console.log(err);
        })
        .finally(() => {
          this.loading = false;
        });
    },
    save(date) {
      this.$refs.menu.save(date);
    },
    goBack() {
      this.$router.back();
    },
  },
  watch: {
    menu(val) {
      val && setTimeout(() => (this.activePicker = "YEAR"));
    },
  },
};
</script>

<style scoped>
main {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-content: center;
  align-items: center;
}
</style>
