<template>
  <v-form ref="form">
    <v-card class="mx-auto mb-8" max-width="800" v-for="food in foods" :key="food.id">
      <v-card-title tag="header" class="d-flex justify-space-between mb-5 red">
        <h1 class="amber--text text--accent-2">{{ food.title }}</h1>
        <span class="white--text">R$ {{ food.price }}</span>
      </v-card-title>
      <v-row>
        <v-col md="5">
          <img width="100%" :src="getUrlPicture(food.picture)" />
        </v-col>
        <v-col class="red--text">
          <p><span class="font-weight-black">Sabor:</span> {{ food.flavor }}</p>
          <p><span class="font-weight-black">Descrição:</span> {{ food.description }}</p>
        </v-col>
      </v-row>
      <v-card-actions class="d-flex justify-end">
        <v-btn text @click="edit(food)">Editar</v-btn>
        <v-btn text @click="remove(food)">Excluir</v-btn>
      </v-card-actions>
    </v-card>
  </v-form>
</template>

<script>
const BUCKET_NAME = import.meta.env.VITE_BUCKET_NAME;

export default {
  props: ["foods", "s3"],
  methods: {
    remove(food) {
      this.$emit("remove", food);
    },
    edit(food) {
      this.$emit("edit", food);
    },
    getUrlPicture(picture) {
      if (this.s3) {
        return `https://${BUCKET_NAME}.s3.amazonaws.com/${picture}`;
      }

      return picture?.dataURL;
    },
  },
};
</script>
