<template>
  <v-row justify="center">
    <v-dialog v-model="open" persistent max-width="400">
      <v-card>
        <v-card-title class="text-h5"> Editar </v-card-title>
        <v-card-text>
          <v-container v-if="form">
            <v-row>
              <v-col cols="12" md="4">
                <v-text-field
                  label="Título"
                  v-model="form.title"
                  placeholder="Título do pedido"
                  outlined
                  :rules="rules.title"
                ></v-text-field>
              </v-col>

              <v-col cols="12" md="4">
                <v-text-field
                  label="Sabor"
                  v-model="form.flavor"
                  placeholder="Sabor"
                  outlined
                  :rules="rules.flavor"
                ></v-text-field>
              </v-col>

              <v-col cols="12" md="4">
                <vuetify-money
                  label="Preço"
                  v-model="form.price"
                  outlined
                  v-bind:options="masks.price"
                />
              </v-col>
              <v-col cols="12" md="12">
                <v-textarea
                  label="Descrição"
                  v-model="form.description"
                  outlined
                  placeholder="Descrição"
                  :rules="rules.description"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions class="d-flex justify-center">
          <v-btn type="button" rounded large color="error" @click="close">Cancelar</v-btn>
          <v-btn type="submit" rounded color="warning" large @click="save">
            Salvar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  props: ["open", "form"],
  data: () => ({
    masks: {
      price: {
        locale: "pt-BR",
        prefix: "R$",
        suffix: "",
        length: 11,
        precision: 2,
      },
    },
    rules: {
      title: [
        (v) => !!v || "Name é obrigatório",
        (v) => (v && v.length <= 100) || "O Nome deve conter no máximo 100 caracteres",
      ],
      flavor: [
        (v) => !!v || "Flavor é obrigatório",
        (v) => (v && v.length <= 100) || "O Sabor deve conter no máximo 100 caracteres",
      ],
      price: [(v) => !!v || "Price é obrigatório"],
      description: [
        (v) => !!v || "Descrição é obrigatório",
        (v) =>
          (v && v.length <= 1000) || "A Descrição deve conter no máximo 1000 caracteres",
      ],
    },
  }),
  methods: {
    close() {
      this.$emit("close", null);
    },
    save() {
      this.$emit("save", this.form);
    },
  },
};
</script>
