<template>
  <v-container>
    <v-form ref="form" @submit="submit($event)">
      <v-card class="mx-auto" max-width="800">
        <v-card-title tag="header" id="form-menu-header">
          <h1>Monte aqui o seu cardápio. O que está esperando?</h1>
          <div class="d-flex align-center">
            <span class="caption">Comida</span>
            <v-switch
              v-model="form.beverage"
              color="primary"
              @change="onChangeBeverage($event)"
            ></v-switch>
            <span class="caption">Bebida</span>
          </div>
        </v-card-title>
        <v-form>
          <v-container>
            <v-row>
              <v-col cols="12" md="4">
                <v-text-field
                  v-model="form.title"
                  placeholder="Título do pedido"
                  outlined
                  :rules="rules.title"
                ></v-text-field>
              </v-col>

              <v-col cols="12" md="4">
                <v-text-field
                  v-model="form.flavor"
                  placeholder="Sabor"
                  outlined
                  :rules="rules.flavor"
                ></v-text-field>
              </v-col>

              <v-col cols="12" md="4">
                <vuetify-money
                  v-model="form.price"
                  outlined
                  v-bind:options="masks.price"
                />
              </v-col>
              <v-col cols="12" md="12">
                <v-textarea
                  v-model="form.description"
                  outlined
                  placeholder="Descrição"
                  :rules="rules.description"
                ></v-textarea>
              </v-col>
              <v-col cols="12" md="12">
                <vue-dropzone
                  ref="dropzone"
                  id="dropzone"
                  @vdropzone-file-added="onSendPicture"
                  :duplicateCheck="true"
                  :options="dropzoneOptions"
                ></vue-dropzone>
              </v-col>
            </v-row>
          </v-container>
        </v-form>

        <v-card-actions class="d-flex justify-center">
          <v-btn type="button" rounded large color="error" @click="reset()">Limpar</v-btn>
          <v-btn type="submit" rounded color="warning" large> Cadastrar </v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-container>
</template>

<script>
import vue2Dropzone from "vue2-dropzone";
import { useMenuStore } from "@/stores/menu";
import "vue2-dropzone/dist/vue2Dropzone.min.css";

export default {
  components: {
    vueDropzone: vue2Dropzone,
  },
  data: () => ({
    dropzoneOptions: {
      url: "https://httpbin.org/post",
      thumbnailWidth: 150,
      maxFilesize: 1,
      uploadMultiple: false,
      maxFiles: 1,
    },
    masks: {
      price: {
        locale: "pt-BR",
        prefix: "R$",
        suffix: "",
        length: 11,
        precision: 2,
      },
    },
    form: {
      id: Date.now(),
      beverage: false,
      title: "",
      flavor: "",
      price: "",
      description: "",
      picture: null,
    },
    rules: {
      title: [
        (v) => !!v || "Name é obrigatório",
        (v) => (v && v.length <= 100) || "O Nome deve conter no máximo 100 caracteres",
      ],
      flavor: [
        (v) => !!v || "Flavor é obrigatório",
        (v) => (v && v.length <= 100) || "O Sabor deve conter no máximo 100 caracteres",
      ],
      price: [(v) => !!v || "Price é obrigatório"],
      description: [
        (v) => !!v || "Descrição é obrigatório",
        (v) =>
          (v && v.length <= 1000) || "A Descrição deve conter no máximo 1000 caracteres",
      ],
    },
  }),
  methods: {
    onChangeBeverage(value) {
      this.form.beverage = value;
    },
    submit(event) {
      event.preventDefault();
      this.$refs.dropzone.removeAllFiles(true);
      this.$emit("submit", this.form);
      this.reset();
    },
    reset() {
      this.form = {
        id: Date.now(),
        beverage: false,
        title: "",
        flavor: "",
        price: "",
        description: "",
        picture: null,
      };
      this.$refs.dropzone.removeAllFiles(true);
    },
    onSendPicture(file) {
      this.form.picture = file;
    },
  },
};
</script>

<style scoped>
#form-menu-header {
  display: flex;
  justify-content: space-between;
  background-color: #ffca00;
}

#form-menu-header h1 {
  text-align: center;
  font: normal bold 24px/29px Roboto;
  letter-spacing: 0px;
  color: #a03400;
  opacity: 1;
}

#form-menu-header label {
  text-align: left;
  font: normal normal normal 16px/21px Roboto;
  letter-spacing: 0px;
  color: #a03400;
  opacity: 1;
}

#header {
  color: red;
  height: 500px;
}
</style>
