<template>
  <v-row justify="center">
    <v-dialog v-model="open" persistent max-width="400">
      <v-card>
        <v-card-title class="text-h5">
          {{ title }}
        </v-card-title>
        <v-card-text>{{ content }}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="close()">
            {{ closeButtonText }}
          </v-btn>
          <v-btn color="green darken-1" text @click="agree()">
            {{ agreeButtonText }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  props: ["open", "title", "content", "closeButtonText", "agreeButtonText"],
  methods: {
    close() {
      this.$emit("close", null);
    },
    agree() {
      this.$emit("agree", null);
    },
  },
};
</script>
