<template>
  <v-snackbar v-model="open">
    {{ message }}
    <template v-slot:action="{ attrs }">
      <v-btn color="primary" text v-bind="attrs" @click="close">Fechar</v-btn>
    </template>
  </v-snackbar>
</template>

<script>
export default {
  props: ["open", "message"],
  methods: {
    close() {
      this.$emit("close");
    },
  },
};
</script>
